table,
th,
tr,
td {
    border: 2px solid black;
    width: 800px;
    border-collapse: collapse;
    text-align: center;
}

tr:hover {
    background-color: #56c7bf;
}

table {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #e6ffff;
}

.button1 {
    background-color: #63ada8;
    color: black;
    font-size: 16px;
    cursor: pointer;
    width: 100px;
    display: inline-block;
    margin: 3px 10px 3px 10px;
    padding: 4px;
}

.button1:hover {
    background-color: gainsboro;
}

.stud {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

.caption {
    background-color: #63ada8;
}

body {
    background-color: honeydew;
}